# Exploratory Data Analysis

- Importing packages

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

- Importing data

In [24]:
input_url = './data/'

## DEC_10_DP_DPDP1:   
- Profile of General Population and Housing Characteristics.   
- 2010 Demographic Profile Data

In [25]:
data = pd.read_csv(input_url + 'DEC_10_DP_DPDP1/DEC_10_DP_DPDP1_with_ann.csv')

In [26]:
data.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_S001,HD02_S001,HD01_S002,HD02_S002,HD01_S003,HD02_S003,HD01_S004,...,HD01_S182,HD02_S182,HD01_S183,HD02_S183,HD01_S184,HD02_S184,HD01_S185,HD02_S185,HD01_S186,HD02_S186
0,Id,Id2,Geography,Number; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Number; SEX AND AGE - Total population - Under...,Percent; SEX AND AGE - Total population - Unde...,Number; SEX AND AGE - Total population - 5 to ...,Percent; SEX AND AGE - Total population - 5 to...,Number; SEX AND AGE - Total population - 10 to...,...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...
1,1600000US3673000,3673000,"Syracuse city, New York",145170(r47059),100.0,10217,7.0,8998,6.2,8480,...,52298,( X ),2.37,( X ),35251,61.5,80090,( X ),2.27,( X )

## Age population

In [30]:
population_df = data.iloc[1, 3:41:2]

In [31]:
percentage_df = data.iloc[1, 4:42:2]