In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
input_url = './data/'

In [4]:
data = pd.read_csv(input_url + 'DEC_10_DP_DPDP1/DEC_10_DP_DPDP1_with_ann.csv')

In [5]:
data.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_S001,HD02_S001,HD01_S002,HD02_S002,HD01_S003,HD02_S003,HD01_S004,...,HD01_S182,HD02_S182,HD01_S183,HD02_S183,HD01_S184,HD02_S184,HD01_S185,HD02_S185,HD01_S186,HD02_S186
0,Id,Id2,Geography,Number; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Number; SEX AND AGE - Total population - Under...,Percent; SEX AND AGE - Total population - Unde...,Number; SEX AND AGE - Total population - 5 to ...,Percent; SEX AND AGE - Total population - 5 to...,Number; SEX AND AGE - Total population - 10 to...,...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...
1,0100000US,NaN,United States,308745538(r38234),100.0,20201362,6.5,20348657,6.6,20677194,...,201278493,( X ),2.65,( X ),40730218,34.9,99479722,( X ),2.44,( X )