# Exploratory Data Analysis

Importing packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Importing data

In [2]:
input_url = './data/'

## DEC_10_DP_DPDP1:   
## Profile of General Population and Housing Characteristics.   
## 2010 Demographic Profile Data

In [3]:
data = pd.read_csv(input_url + 'DEC_10_DP_DPDP1/DEC_10_DP_DPDP1_with_ann.csv')

In [4]:
data.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_S001,HD02_S001,HD01_S002,HD02_S002,HD01_S003,HD02_S003,HD01_S004,...,HD01_S182,HD02_S182,HD01_S183,HD02_S183,HD01_S184,HD02_S184,HD01_S185,HD02_S185,HD01_S186,HD02_S186
0,Id,Id2,Geography,Number; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Number; SEX AND AGE - Total population - Under...,Percent; SEX AND AGE - Total population - Unde...,Number; SEX AND AGE - Total population - 5 to ...,Percent; SEX AND AGE - Total population - 5 to...,Number; SEX AND AGE - Total population - 10 to...,...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...,Number; HOUSING TENURE - Occupied housing unit...,Percent; HOUSING TENURE - Occupied housing uni...
1,0100000US,NaN,United States,308745538(r38234),100.0,20201362,6.5,20348657,6.6,20677194,...,201278493,( X ),2.65,( X ),40730218,34.9,99479722,( X ),2.44,( X )

In [22]:
data.iloc[1, 3:41]

HD01_S001    308745538(r38234)
HD02_S001                100.0
HD01_S002             20201362
HD02_S002                  6.5
HD01_S003             20348657
HD02_S003                  6.6
HD01_S004             20677194
HD02_S004                  6.7
HD01_S005             22040343
HD02_S005                  7.1
HD01_S006             21585999
HD02_S006                  7.0
HD01_S007             21101849
HD02_S007                  6.8
HD01_S008             19962099
HD02_S008                  6.5
HD01_S009             20179642
HD02_S009                  6.5
HD01_S010             20890964
HD02_S010                  6.8
HD01_S011             22708591
HD02_S011                  7.4
HD01_S012             22298125
HD02_S012                  7.2
HD01_S013             19664805
HD02_S013                  6.4
HD01_S014             16817924
HD02_S014                  5.4
HD01_S015             12435263
HD02_S015                  4.0
HD01_S016              9278166
HD02_S016                  3.0
HD01_S017              7317795
HD02_S017                  2.4
HD01_S018              5743327
HD02_S018                  1.9
HD01_S019              5493433
HD02_S019                  1.8
Name: 1, dtype: object